
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin: auto;
  width: 100%;
  position: relative;
  overflow: hidden;
}
@media (min-width: 576px) {
  .container {
    width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    width: 960px;
  }
}
@media (min-width: 1200) {
  .container {
    width: 1140px;
  }
}
@media (min-width: 1400) {
  .container {
    width: 1320px;
  }
}
* {
  box-sizing: border-box;
  margin: 0%;
  padding: 0%;
}

